* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: var(--theme-bg_color);
    transition: 500ms background;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    transition: width 0.75s, background-color 0.75s;
}

a:hover::after {
    width: 100%;
    background: white;
}

a:focus {
    outline-color: white;
}

h1 {
    font-family: 'Secular One';
    font-weight: 500;
    color: var(--theme-text_color);
}

p {
    color: rgb(170, 65, 255);
    font-family: 'Secular One';
    font-weight: 500;
}

button {
    background: rgb(169, 64, 255);
    border: 3px solid rgb(169, 64, 255);
    box-shadow: 0 0 3px black;
    border-radius: 10px;
    color: var(--theme-btn_text_color);
    padding: 7px;
    font-family: 'Secular One';
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: transparent;
    color: rgb(169, 64, 255);
}

button:focus {
    outline-offset: 3px;
}

input {
    border: 3px solid rgb(140, 0, 255);
    border-radius: 5px;
    background: rgb(80, 25, 90);
    box-shadow: 0px 0px 5px rgb(170, 0, 255);
    color: var(--theme-text_color);
    margin: 5px 0 15px 0;
    text-align: center;
    font-family: 'Secular One';
    transition: 0.5s;
}

input:hover {
    box-shadow: 0 0 10px rgb(140, 0, 255);
}

input:focus {
    outline: 1px;
    box-shadow: 0 0 15px rgb(132, 0, 255);
}

hr {
    width: 75%;
    border: 1px solid rgb(153, 0, 255);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill::first-line,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus textarea:-webkit-autofill::first-line,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill::first-line {
    box-shadow: 0 0 0px 1000px rgb(81, 27, 105) inset;
    -webkit-box-shadow: 0 0 0px 1000px rgb(81, 27, 105) inset;
    -webkit-text-fill-color: var(--theme-text_color);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(250, 244, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(229, 196, 255);
    border: 1px solid rgb(223, 182, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

/* Responsive design */
@media screen and (max-width: 700px) {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus input:-webkit-autofill::first-line,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus textarea:-webkit-autofill::first-line,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill::first-line {
        box-shadow: 0 0 0px 1000px rgb(81, 27, 105) inset;
        -webkit-box-shadow: 0 0 0px 1000px rgb(81, 27, 105) inset;
        -webkit-text-fill-color: var(--theme-text_color);
    }
}
