@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

svg {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 36px;
    height: 36px;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:focus {
    outline-color: white;
}

h1 {
    font-family: 'Manrope';
    font-weight: 500;
    color: var(--text);
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Manrope';
    font-weight: 400;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.075);
    box-shadow: 0 0 100px rgb(15, 15, 15);
    box-shadow: none;
    transition: 150ms;
    color: white;
    outline: none;
}

button:hover {
    background: rgb(255, 255, 255, 0.15);
    color: white;
}

button:active {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.5;
}

input,
textarea {
    border: none;
    border-radius: 5px;
    font-family: 'Manrope';
    color: var(--text);
    padding: 5px;
}

textarea {
    resize: none;
}

textarea::placeholder {
    color: var(--text_gray);
}

input:disabled,
textarea:disabled {
    background: rgba(255, 255, 255, 85%);
    color: var(--text_gray);
}

input:focus,
textarea:focus {
    outline: none;
}

hr {
    border: 1px solid var(--text);
    transition: none;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border-radius: 30px;
}

/* Bare minimum phone essentials */
@media screen and (max-width: 850px) {
    img {
        cursor: default;
    }

    svg {
        width: 40px;
        height: 40px;
        cursor: default;
    }

    svg:active {
        transform: scale(0.95);
    }

    button {
        cursor: default;
    }
}
